$black-color:#000000;
$base-color:#333333;
$main-color:#666666;
$vice-color:#999999;
$border-color:#e5e5e5;
$white-color:#ffffff;
$tip-color:#0088af;
$red-color:#ec1500;
$back-color:#f5f5f5;
$btn-yellow:#ffa020;
$active-color:#ff2d52;
