@font-face {
  font-family: 'fonts';
  src:  url('/static/fonts/fonts.eot?cv0uqx');
  src:  url('/static/fonts/fonts.eot?cv0uqx#iefix') format('embedded-opentype'),
  url('/static/fonts/fonts.ttf?cv0uqx') format('truetype'),
  url('/static/fonts/fonts.woff?cv0uqx') format('woff'),
  url('/static/fonts/fonts.svg?cv0uqx#fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e942";
}
.icon-achieve:before {
  content: "\e943";
}
.icon-edit:before {
  content: "\e944";
}
.icon-eye-close:before {
  content: "\e945";
}
.icon-eye:before {
  content: "\e946";
}
.icon-js:before {
  content: "\e947";
}
.icon-csharp:before {
  content: "\e948";
}
.icon-QQ:before {
  content: "\e949";
}
.icon-share:before {
  content: "\e94a";
}
.icon-stars:before {
  content: "\e94b";
}
.icon-weibo:before {
  content: "\e94c";
}
.icon-weixin:before {
  content: "\e94d";
}
.icon-like:before {
  content: "\e90c";
}
.icon-android:before {
  content: "\e90d";
}
.icon-big-data:before {
  content: "\e90e";
}
.icon-code:before {
  content: "\e90f";
}
.icon-order:before {
  content: "\e910";
}
.icon-tool:before {
  content: "\e911";
}
.icon-pen:before {
  content: "\e912";
}
.icon-animate:before {
  content: "\e913";
}
.icon-coursetable:before {
  content: "\e914";
}
.icon-course:before {
  content: "\e915";
}
.icon-history:before {
  content: "\e916";
}
.icon-color:before {
  content: "\e917";
}
.icon-setting:before {
  content: "\e918";
}
.icon-more:before {
  content: "\e919";
}
.icon-test:before {
  content: "\e91a";
}
.icon-recommend:before {
  content: "\e91b";
}
.icon-good:before {
  content: "\e91c";
}
.icon-collect:before {
  content: "\e91d";
}
.icon-night:before {
  content: "\e91e";
}
.icon-finished:before {
  content: "\e91f";
}
.icon-coupon:before {
  content: "\e920";
}
.icon-cloud:before {
  content: "\e921";
}
.icon-hot:before {
  content: "\e922";
}
.icon-angular:before {
  content: "\e923";
}
.icon-webapp:before {
  content: "\e924";
}
.icon-bootstrap:before {
  content: "\e925";
}
.icon-C:before {
  content: "\e926";
}
.icon-C++:before {
  content: "\e927";
}
.icon-Cocos2d:before {
  content: "\e928";
}
.icon-CSS3:before {
  content: "\e929";
}
.icon-go:before {
  content: "\e92a";
}
.icon-html5:before {
  content: "\e92b";
}
.icon-iOS:before {
  content: "\e92c";
}
.icon-java:before {
  content: "\e92d";
}
.icon-jquery:before {
  content: "\e92e";
}
.icon-less:before {
  content: "\e92f";
}
.icon-linux:before {
  content: "\e930";
}
.icon-sqlserver:before {
  content: "\e931";
}
.icon-mongodb:before {
  content: "\e932";
}
.icon-right:before {
  content: "\e933";
}
.icon-mysql:before {
  content: "\e934";
}
.icon-nodejs:before {
  content: "\e935";
}
.icon-oracle:before {
  content: "\e936";
}
.icon-php:before {
  content: "\e937";
}
.icon-python:before {
  content: "\e938";
}
.icon-react:before {
  content: "\e939";
}
.icon-refresh:before {
  content: "\e93a";
}
.icon-ruby:before {
  content: "\e93b";
}
.icon-sass:before {
  content: "\e93c";
}
.icon-ui:before {
  content: "\e93d";
  color: #515151;
}
.icon-unity3d:before {
  content: "\e93e";
}
.icon-vuecolor .path1:before {
  content: "\e93f";
  color: rgb(53, 73, 94);
}
.icon-vuecolor .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(65, 184, 131);
}
.icon-vue:before {
  content: "\e941";
}
.icon-find:before {
  content: "\e900";
}
.icon-route:before {
  content: "\e901";
}
.icon-project:before {
  content: "\e902";
}
.icon-mark:before {
  content: "\e903";
}
.icon-question:before {
  content: "\e904";
}
.icon-app:before {
  content: "\e905";
}
.icon-cart:before {
  content: "\e906";
}
.icon-download:before {
  content: "\e907";
}
.icon-envelope:before {
  content: "\e908";
}
.icon-home:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
